altgraph==0.15
astroid==2.0.4
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.3.9
comtypes==1.1.6
cryptography==2.8
decorator==4.2.1
Django==2.1
django-ckeditor==5.8.0
django-js-asset==1.2.2
djangorestframework==3.9.2
dominate==2.4.0
dukpy==0.2.2
easygui==0.98.1
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Script==2.0.6
Flask-WTF==0.14.2
future==0.16.0
idna==2.6
isort==4.3.4
itchat==1.3.10
itsdangerous==1.1.0
javascripthon==0.10
jdcal==1.4
jedi==0.11.1
Jinja2==2.10.3
jupyter-echarts-pypkg==0.1.2
lazy-object-proxy==1.3.1
lml==0.0.2
macholib==1.9
macropy3==1.1.0b2
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==4.2.0
mysqlclient==1.4.6
openpyxl==2.5.4
parso==0.1.1
pdfminer3k==1.3.1
pefile==2017.11.5
pickleshare==0.7.4
Pillow==5.3.0
pluggy==0.6.0
ply==3.11
py==1.5.3
pycparser==2.19
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
Pygments==2.5.2
PyInstaller==3.3.1
pylint==2.1.1
PyMySQL==0.9.3
PyPDF2==1.26.0
pypiwin32==223
pypng==0.0.18
PyQRCode==1.2.1
pytest==3.6.2
pytz==2018.3
pywifi==1.1.10
pywin32==223
reportlab==3.5.9
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
typed-ast==1.1.0
urllib3==1.24.2
virtualenv==15.2.0
visitor==0.1.3
Werkzeug==0.16.0
wrapt==1.10.11
WTForms==2.2.1
wxPython==4.0.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
