<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <div class="container">

	<!-- 导航栏商标 -->
	<a class="navbar-brand" href="http://www.luoziqiang.com">Codeplay</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
	<!-- 导航入口 -->
	<div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="nav navbar-nav ml-auto">
		<!-- 条目 -->
		<li class="nav-item">
		    <a class="nav-link" href="{% url 'my_blog:article_list' %}">文章</a>
		</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_blog:category' %}">文章分类</a>
        </li>
		<li class="nav-item" style="margin-left: 10px">
		    <a class="nav-link" href="{% url 'my_blog:article_create' %}">写文章</a>
		</li>
		{% if user.is_authenticated %}
		<!-- 如果用户已经登录，则显示用户名下拉框 -->
		<li class="nav-item dropdown " style="margin-left:10px">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  {{ user.username }}
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
			    <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                <a class="dropdown-item" href="{% url 'userprofile:changepwd' %}">更改密码</a>
			</ul>
		</li>
	<!-- 如果用户未登录，则显示 “登录” -->
	   {% else %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
		</li>                    
	<!-- if 语句在这里结束 -->
	   {% endif %}
	  </ul>
	</div>

  </div>
</nav>
{% if user.is_authenticated %}
<form 
    style="display:none;" 
    id="user_delete"
    action="{% url 'userprofile:delete' user.id %}" 
    method="POST"
>
{% csrf_token %}
    <button type="submit">发送</button>
</form>
    <script>
        function user_delete() {
            // 调用layer弹窗组件
            layer.open({
                title: "确认删除",
                content: "确认删除用户资料吗？",
                yes: function(index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
{% endif %}